{% extends "base.html" %}

{% block content %}
<h1>Title: {{ deck.title }}</h1>
<h2>Subject: {{ deck.subject }}</h2>

<div id="card-details" class="scene scene--card">
    {% for card in cards %}
    <div class="card " data-id={{card.pk}}>
        <span class="close">&times;</span>
        <div class="card__face card__face--question" id={{card.pk}}>
            {{card.question}}
        </div>
        <div class="card__face card__face--answer">
            {{card.answer}}
        </div>
    </div>
    <div class="confirm-buttons">
        <button class="button " data-id={{card.pk}}>Did you get it right?</button>
        <!-- <button class="button">Incorrect?</button> -->
    </div>
    <button type='button'
        class="block text-sm text-slate-500 mr-4 py-2 px-4 rounded-full border-0 text-sm font-semibold bg-violet-50 text-violet-700 hover:bg-violet-200">
        <a href="{% url 'edit-card' deck.pk card.pk %}">Edit</a></button>
    <button type='button'
        class="block text-sm text-slate-500 mr-4 py-2 px-4 rounded-full border-0 text-sm font-semibold bg-violet-50 text-violet-700 hover:bg-violet-200">
        <a href="{% url 'delete-card' deck.pk card.pk %}">Delete</a></button>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<h3><a href="{% url 'new-card' pk=deck.pk %}">Add a new card!</a></h3>
<button type='button'
    class="block text-sm text-slate-500 mr-4 py-2 px-4 rounded-full border-0 text-sm font-semibold bg-violet-50 text-violet-700 hover:bg-violet-200">
    <a href="{% url 'edit-deck' deck.pk %}">Edit</a></button>

<button type='button'
    class="block text-sm text-slate-500 mr-4 py-2 px-4 rounded-full border-0 text-sm font-semibold bg-violet-50 text-violet-700 hover:bg-violet-200">
    <a href="{% url 'delete-deck' deck.pk %}">Delete</a></button>


{% endblock %}