{% extends 'base.html' %}

{% block content %}
<!-- <h1>Add new deck!</h1> -->
<h2 class="title is-flex is-justify-content-center mt-2"><i>{% if pk %} Edit {% else %} New {% endif %} Deck</i></h2>
<section class="section">
    <p class="subtitle ">{% if pk %}Current {% else%} Enter {% endif %} Deck:</p>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            <label for="{{field.id_forlabel}}" class="label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div>
            <button type="submit" class="button is-success is-small">Save</button>
        </div>
    </form>
</section>

{% endblock content %}