/* styling for count of correct guesses at top of page */
#right_button_tally {
    color: hotpink;
    font-weight: bold;
    font-size: large;

}

/* styling for icons */
.fa {
    font-size: 10px;
}



/* styling for the cards in deck_details */

.scene {
    display: inline-block;
}

.card {
    width: 100vw;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

/* styling of prev and next arrows */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 1.8);
}

/* styling for card --not flipped over--*/
.card__face {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
}

.card__face--question {
    background-color: plum;
    display: flex;
}

.card__face--answer {
    background-color: blueviolet;
    transform: rotateY(180deg);
    display: none;
}

.congrats-button {
    display: none;
}

.edit-card,
.delete-card {
    font-size: xx-small !important;
}



/* styling for when card is --flipped over-- */
.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face--question.hide-question {
    display: none;
}

.card__face--answer.show-answer {
    background-color: blueviolet;
    transform: rotateY(180deg);
    display: flex;
}

.congrats-button.show {
    display: flex;
    float: right;
}



/* styling for all input fields */
input {
    width: 50vw;
}